.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.DS_Store
aws_hosts.bak
devops.pem
aws_hosts
.terraform.lock.hcl
*.pem
playbooks/aws_hosts

error.txt
11.txt