# playbooks/grafana.yml
- name: Install and Configure Grafana
  hosts: all
  become: yes
  tasks:
    - name: Install dependencies for repository setup
      ansible.builtin.apt:
        name: ['apt-transport-https', 'software-properties-common', 'wget']
        state: present
        update_cache: yes

    - name: Add Grafana GPG key
      ansible.builtin.shell:
        cmd: wget -q -O - https://packages.grafana.com/gpg.key | apt-key add -

    - name: Add Grafana repository
      ansible.builtin.apt_repository:
        repo: 'deb https://packages.grafana.com/oss/deb stable main'
        state: present
        filename: grafana

    - name: Install Grafana package
      ansible.builtin.apt:
        name: grafana
        state: latest
        update_cache: yes

    - name: Start Grafana service
      ansible.builtin.service:
        name: grafana-server
        state: started
        enabled: yes